@model List<EditUsersInRoleViewModels>

@{ 
    var roleId = ViewBag.roleId;
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/editusersinrole.css">
        <link rel="stylesheet" type="text/css" href="~/css/universalstyle.css">
    </head>
<body>
    <div class="container">
        <div class="main-area">
            <form method="post">
                <h2>Add or remove users from this specific role</h2>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <ol style="list-style-type: square">
                        <li>
                        <input type="hidden" asp-for="@roleId" />
                        <input type="hidden" asp-for="@Model[i].UserId" />
                        <input type="hidden" asp-for="@Model[i].UserName" />
                        <input type="checkbox" asp-for="@Model[i].IsSelected" />
                        <label asp-for="@Model[i].IsSelected">@Model[i].UserName</label>
                        </li>
                    </ol>

                }
                <br />
                <button class="buttonuniversal" type="submit">Update</button>
                <a class="buttonuniversal" asp-controller="Administration" asp-action="EditRole" asp-route-id="@roleId">Cancel</a>
            </form>
        </div>
    </div>
</body>