@model List<ManageUserRolesViewModels>
@{
    ViewBag.Title = "Manage User Roles";
    var userId = ViewBag.userId;
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/manageuserroles.css">
        <link rel="stylesheet" type="text/css" href="~/css/universalstyle.css">
    </head>
<body>
    <div class="container">
        <div class="main-area">
            <form method="post" asp-controller="Administration" asp-action="ManageUserRoles">
                <h2>Manage User Roles</h2>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <ol style="list-style-type: square">
                         <li>
                                <input type="hidden" asp-for="@userId" />
                                <input type="hidden" asp-for="@Model[i].RoleId" />
                                <input type="hidden" asp-for="@Model[i].RoleName" />
                                <input type="checkbox" asp-for="@Model[i].IsSelected" />
                                <label asp-for="@Model[i].IsSelected">@Model[i].RoleName</label>
                        </li>
                    </ol>
                }
                <div asp-validation-summary="All"></div>
                <br>
                <button class="buttonuniversal" type="submit">Update</button>
                <a class="buttonuniversal" asp-controller="Administration" asp-action="EditUser" asp-route-id="@userId">Cancel</a>
            </form>
        </div>
    </div>
</body>
