@model List<ManageUserRolesViewModels>
@{
    var userId = ViewBag.userId;
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/manageuserroles.css">
</head>
<body>
    <div class="container">
        <div class="main-area">
            <form method="post" asp-controller="Administration" asp-action="ManageUserRoles">
                <h2>Manage User Roles</h2>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <input type="hidden" asp-for="@userId" />
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input type="checkbox" asp-for="@Model[i].IsSelected" />
                    <label asp-for="@Model[i].IsSelected">@Model[i].RoleName</label>
                }
                <div asp-validation-summary="All"></div>
                <br>
                <br>
                <button type="submit">Update</button>
                <button><a asp-controller="Account" asp-action="EditUser" asp-route-id="@userId">Cancel</a></button>
            </form>
        </div>
    </div>
</body>
