@model HomeViewModels

@{
    ViewBag.Title = "Display Books";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/displaybooks.css">
</head>
<body>
    <div class="container">
        <div class="searchbook">
            <form method="get" asp-controller="Home" asp-action="DisplayBooks">
                <p>
                    Book Name: <input asp-for="SearchBook" placeholder="Type a book !" />
                    <input type="submit" value="Search" />
                </p>
            </form>
            @if (Model.SearchBook != null)
            {
                @foreach (var book in Model.BooksSearched)
                {
                    <p>@book.BooksInStore</p>
                }
            }
        </div>
        <div class="statusbooks">          
                <button><a href="#">Order the Books</a></button>
                <!--books that were ordered-->
        </div>
        <div class="comedy">
            <h3>Comedy</h3>
            @foreach(var books in Model.BooksDisplayedInStore)
            {
                @if (books.BookGenre == "Comedy")
                {
                     <div>
                         <p>@books.BooksInStore</p>
                         <p>@books.Price</p>
                         <a asp-controller="Home" asp-action="AddBookInBag" asp-route-id="@books.BookId">Buy/Details</a>
                     </div>
                }
            }
        </div>
        <div class="drama">
            <h3>Drama</h3>
            @foreach (var books in Model.BooksDisplayedInStore)
            {
                @if (books.BookGenre == "Drama")
                {
                    <div>
                        <p>@books.BooksInStore</p>
                        <p>@books.Price</p>
                        <a asp-controller="Home" asp-action="AddBookInBag" asp-route-id="@books.BookId">Buy</a>
                    </div>
                }
            }
        </div>
        <div class="science-fiction">
            <h3>Science-Fiction</h3>
            @foreach (var books in Model.BooksDisplayedInStore)
            {
                @if (books.BookGenre == "Science-Fiction")
                {
                    <div>
                        <p>@books.BooksInStore</p>
                        <p>@books.Price</p>
                        <a asp-controller="Home" asp-action="AddBookInBag" asp-route-id="@books.BookId">Buy</a>
                    </div>
                }
            }
        </div>
        <div class="nature-science">
            <h3>Nature-Science</h3>
            @foreach (var books in Model.BooksDisplayedInStore)
            {
                @if (books.BookGenre == "Nature-Science")
                {
                    <div>
                        <p>@books.BooksInStore</p>
                        <p>@books.Price</p>
                        <a asp-controller="Home" asp-action="AddBookInBag" asp-route-id="@books.BookId">Buy</a>
                    </div>
                }
            }
        </div>
    </div>
</body>