@model OrderBooksViewModels

@{
    ViewBag.Title = "Order Books";
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/orderedbooks.css">
        <link rel="stylesheet" type="text/css" href="~/css/universalstyle.css">
    </head>
<body>
    <div class="container">
        <div class="main-area">
            @foreach (var userBooks in Model.UserBooksDB)
            {
                @if (userBooks.NrBooksOrdered > 0)
                {
                    <div>
                        <input asp-for="@userBooks.UserBooksId" type="hidden" />
                        <input asp-for="@userBooks.UserId" type="hidden" />
                        <input asp-for="@userBooks.BookId" type="hidden" />
                        <p>Book: @userBooks.BookToBuy</p>
                        <p>Books Ordered: @userBooks.NrBooksOrdered</p>
                        <p>Total Price:@userBooks.TotalPriceBooks</p>
                    </div>

                    <div>
                        <form method="post">
                            <input  class="buttonuniversal" type="submit" value="Delete Order" asp-action="DeleteBookOrdered" asp-controller="Home" asp-route-id="@userBooks.UserBooksId" />
                        </form>
                        <a  class="buttonuniversal" asp-action="EditOrder" asp-controller="Home" asp-route-id="@userBooks.UserBooksId">Edit Order</a>
                    </div>
                }
            }
            <div>
                <a class="buttonuniversal" asp-controller="Home" asp-action="DisplayBooks">List of Books</a>
                <a class="buttonuniversal" asp-controller="Home" asp-action="FinalCommand">Order the Books</a>
            </div>
        </div>
    </div>
</body>